@model GeneralDiscountVM

<div class="container my-5 pt-2">
    <h5 class="fw-bold mt-4 mb-3">اعمال تخفیف روی تمام گروه های طراحی</h5>
    <div class="row mb-4">
        <div class="col-9 d-flex align-items-center">
            <span class="d-block text-start fw-bold">تخفیف</span>
        </div>
        <div class="col-3 text-end">
            <a asp-area="Admins" asp-controller="DesignGroups" asp-action="Index" class="btn btn-outline-secondary btn-sm">بازگشت</a>
        </div>
    </div>
    <form asp-area="Admins" asp-controller="DesignGroups" asp-action="Discount" asp-antiforgery="true" method="post" class="mb-5">
        <div class="row">
            <div class="col-12 mb-2">
                <label asp-for="Discount" class="d-block form-label">تخفیف (درصد)</label>
                <input asp-for="Discount" type="number" class="form-control" />
                <span asp-validation-for="Discount" class="d-block text-danger mt-1"></span>
            </div>
            <div class="col-12 text-end">
                <input type="submit" value="ذخیره" class="btn btn-outline-success btn-sm" />
            </div>
        </div>
    </form>
</div>