@section Styles {
    <link rel="stylesheet" href="~/css/about-us.css">
}

<!-- Start About Us -->
<section id="about-us" class="direction-rtl">
    <div class="container">
        <div class="site-logo" style="background-image: url('/images/logo.png');"></div>
    </div>
</section>
<!-- End About Us -->