@section Styles {
<link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/css/home.css" />
}

<!-- Start Site Notification -->
<section id="site-notification">
    <div class="container-fluid">
        <div class="banner" style="background-image: url('/images/site-notification.png');"></div>
    </div>
</section>
<!-- End Site Notification -->
<!-- Start Main Slide Show -->
<section id="main-slide-show">
    <div class="container-fluid">
        <div class="slides-container">
            <div class="swiper main-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="custom-card" style="background-image: url('/images/slideshow-item-01.jpg');">
                            <a href="#" class="position-absolute w-100 h-100"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="custom-card" style="background-image: url('/images/slideshow-item-02.jpg');">
                            <a href="#" class="position-absolute w-100 h-100"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="custom-card" style="background-image: url('/images/slideshow-item-03.jpg');">
                            <a href="#" class="position-absolute w-100 h-100"></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Main Slide Show -->
<!-- Start New Products -->
<section id="new-products">
    <div class="container direction-rtl">
        <h3 class="section-header">جدیدترین محصولات</h3>
        <div class="swiper new-products-swiper">
            <div class="swiper-wrapper py-3">
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image" style="background-image: url('/images/product-image.png');"></div>
                        <div class="card-content">
                            <a href="#" class="product-title">عنوان محصول</a>
                            <div class="product-discount">
                                <span class="product-price">160,000 تومان</span>
                                <span class="product-discount-value">%15</span>
                            </div>
                            <span class="product-final-price">136,000 تومان</span>
                            <a href="#" class="button d-block">مشاهده</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image" style="background-image: url('/images/product-image.png');"></div>
                        <div class="card-content">
                            <a href="#" class="product-title">عنوان محصول</a>
                            <div class="product-discount">
                                <span class="product-price">160,000 تومان</span>
                                <span class="product-discount-value">%15</span>
                            </div>
                            <span class="product-final-price">136,000 تومان</span>
                            <a href="#" class="button d-block">مشاهده</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image" style="background-image: url('/images/product-image.png');"></div>
                        <div class="card-content">
                            <a href="#" class="product-title">عنوان محصول</a>
                            <div class="product-discount">
                                <span class="product-price">160,000 تومان</span>
                                <span class="product-discount-value">%15</span>
                            </div>
                            <span class="product-final-price">136,000 تومان</span>
                            <a href="#" class="button d-block">مشاهده</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image" style="background-image: url('/images/product-image.png');"></div>
                        <div class="card-content">
                            <a href="#" class="product-title">عنوان محصول</a>
                            <div class="product-discount">
                                <span class="product-price">160,000 تومان</span>
                                <span class="product-discount-value">%15</span>
                            </div>
                            <span class="product-final-price">136,000 تومان</span>
                            <a href="#" class="button d-block">مشاهده</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image" style="background-image: url('/images/product-image.png');"></div>
                        <div class="card-content">
                            <a href="#" class="product-title">عنوان محصول</a>
                            <div class="product-discount">
                                <span class="product-price">160,000 تومان</span>
                                <span class="product-discount-value">%15</span>
                            </div>
                            <span class="product-final-price">136,000 تومان</span>
                            <a href="#" class="button d-block">مشاهده</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image" style="background-image: url('/images/product-image.png');"></div>
                        <div class="card-content">
                            <a href="#" class="product-title">عنوان محصول</a>
                            <div class="product-discount">
                                <span class="product-price">160,000 تومان</span>
                                <span class="product-discount-value">%15</span>
                            </div>
                            <span class="product-final-price">136,000 تومان</span>
                            <a href="#" class="button d-block">مشاهده</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image" style="background-image: url('/images/product-image.png');"></div>
                        <div class="card-content">
                            <a href="#" class="product-title">عنوان محصول</a>
                            <div class="product-discount">
                                <span class="product-price">160,000 تومان</span>
                                <span class="product-discount-value">%15</span>
                            </div>
                            <span class="product-final-price">136,000 تومان</span>
                            <a href="#" class="button d-block">مشاهده</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image" style="background-image: url('/images/product-image.png');"></div>
                        <div class="card-content">
                            <a href="#" class="product-title">عنوان محصول</a>
                            <div class="product-discount">
                                <span class="product-price">160,000 تومان</span>
                                <span class="product-discount-value">%15</span>
                            </div>
                            <span class="product-final-price">136,000 تومان</span>
                            <a href="#" class="button d-block">مشاهده</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image" style="background-image: url('/images/product-image.png');"></div>
                        <div class="card-content">
                            <a href="#" class="product-title">عنوان محصول</a>
                            <div class="product-discount">
                                <span class="product-price">160,000 تومان</span>
                                <span class="product-discount-value">%15</span>
                            </div>
                            <span class="product-final-price">136,000 تومان</span>
                            <a href="#" class="button d-block">مشاهده</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image" style="background-image: url('/images/product-image.png');"></div>
                        <div class="card-content">
                            <a href="#" class="product-title">عنوان محصول</a>
                            <div class="product-discount">
                                <span class="product-price">160,000 تومان</span>
                                <span class="product-discount-value">%15</span>
                            </div>
                            <span class="product-final-price">136,000 تومان</span>
                            <a href="#" class="button d-block">مشاهده</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End New Products -->
<!-- Start Customer Comments -->
<section id="customer-comments">
    <div class="container direction-rtl">
        <h3 class="section-header">دیدگاه مشتریان</h3>
        <div class="customer-cards-container">
            <div class="customer-comment-card">
                <div class="customer-image" style="background-image: url('/images/Profile.jpg');"></div>
                <span class="customer-name">عادل بخشی</span>
                <div class="customer-comment-wrap">
                    <svg width="512px" height="512px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" />
                    </svg>
                    <span class="customer-comment-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                        با
                        استفاده از طراحان گرافیک است، چاپگرها و
                    </span>
                    <svg width="512px" height="512px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" />
                    </svg>
                </div>
            </div>
            <div class="customer-comment-card">
                <div class="customer-image" style="background-image: url('/images/Profile.jpg');"></div>
                <span class="customer-name">عادل بخشی</span>
                <div class="customer-comment-wrap">
                    <svg width="512px" height="512px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" />
                    </svg>
                    <span class="customer-comment-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                        با
                        استفاده از طراحان گرافیک است، چاپگرها و
                    </span>
                    <svg width="512px" height="512px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" />
                    </svg>
                </div>
            </div>
            <div class="customer-comment-card">
                <div class="customer-image" style="background-image: url('/images/Profile.jpg');"></div>
                <span class="customer-name">عادل بخشی</span>
                <div class="customer-comment-wrap">
                    <svg width="512px" height="512px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" />
                    </svg>
                    <span class="customer-comment-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                        با
                        استفاده از طراحان گرافیک است، چاپگرها و
                    </span>
                    <svg width="512px" height="512px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" />
                    </svg>
                </div>
            </div>
            <div class="customer-comment-card">
                <div class="customer-image" style="background-image: url('/images/Profile.jpg');"></div>
                <span class="customer-name">عادل بخشی</span>
                <div class="customer-comment-wrap">
                    <svg width="512px" height="512px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" />
                    </svg>
                    <span class="customer-comment-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                        با
                        استفاده از طراحان گرافیک است، چاپگرها و
                    </span>
                    <svg width="512px" height="512px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Customer Comments -->
<!-- Start Our Customers -->
<section id="our-customers">
    <div class="container direction-rtl">
        <h3 class="section-header">مشتریان ما</h3>
        <div class="swiper our-customers-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="customer-image">
                        <img src="/images/company-logo-sample.png" alt="مشتری ما">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="customer-image">
                        <img src="/images/company-logo-sample.png" alt="مشتری ما">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="customer-image">
                        <img src="/images/company-logo-sample.png" alt="مشتری ما">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="customer-image">
                        <img src="/images/company-logo-sample.png" alt="مشتری ما">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="customer-image">
                        <img src="/images/company-logo-sample.png" alt="مشتری ما">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="customer-image">
                        <img src="/images/company-logo-sample.png" alt="مشتری ما">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="customer-image">
                        <img src="/images/company-logo-sample.png" alt="مشتری ما">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="customer-image">
                        <img src="/images/company-logo-sample.png" alt="مشتری ما">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="customer-image">
                        <img src="/images/company-logo-sample.png" alt="مشتری ما">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="customer-image">
                        <img src="/images/company-logo-sample.png" alt="مشتری ما">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Customers -->
@section Scripts {
<script src="~/js/swiper-bundle.min.js"></script>
}
