@section Styles {
<link rel="stylesheet" href="~/css/404-not-found.css">
}

<!-- Start 404 Not Found -->
<section id="not-found" class="direction-rtl">
    <div class="container">
        <h2 class="not-found-title">صفحه مورد نظر یافت نشد.</h2>
        <div class="not-found-text-wrap">
            <img src="/images/not-found-text.png" alt="404" class="not-found-text-image">
        </div>
        <div class="text-center">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="button not-found-button">بازگشت به صفحه اصلی</a>
        </div>
    </div>
</section>
<!-- End 404 Not Found -->