@model ChangeCustomerPasswordVM

@section Styles {
<link rel="stylesheet" href="~/css/profile-dashboard.css">
}

<div class="flex-grow-1">
    <h3 class="section-header mt-0 mb-5">تغییر کلمه عبور</h3>
    <form asp-area="Customers" asp-controller="Account" asp-action="ChangePassword" asp-antiforgery="true" method="post">
        <div class="row">
            <div class="col-12 mb-3">
                <label asp-for="CurrentPassword" class="custom-input-label">کلمه عبور فعلی</label>
                <input asp-for="CurrentPassword" type="password" class="custom-input">
                <span asp-validation-for="CurrentPassword" class="d-block mt-2 text-danger"></span>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label asp-for="NewPassword" class="custom-input-label">کلمه عبور جدید</label>
                <input asp-for="NewPassword" type="password" class="custom-input">
                <span asp-validation-for="NewPassword" class="d-block mt-2 text-danger"></span>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label asp-for="ConfirmNewPassword" class="custom-input-label">تکرار کلمه عبور جدید</label>
                <input asp-for="ConfirmNewPassword" type="password" class="custom-input">
                <span asp-validation-for="ConfirmNewPassword" class="d-block mt-2 text-danger"></span>
            </div>
        </div>
        <div asp-validation-summary="All"></div>
        <input type="submit" value="تغییر کلمه عبور" class="button mt-4">
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}