<div class="container-fluid">
    <h5 class="fw-bold mt-4 mb-3">مدیریت گروه های طراحی</h5>
    <div class="card shadow border-0 rounded-2">
        <div class="card-header border-0 shadow-sm bg-primary">
            <div class="row">
                <div class="col-9 d-flex align-items-center">
                    <span class="d-block text-start fw-bold">لیست گروه ها</span>
                </div>
                <div class="col-3 text-end">
                    <a href="#" class="btn btn-outline-primary btn-sm">افزودن گروه جدید</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover table-striped table-responsive-md align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                        <td class="text-end">
                            <div class="dropdown"><a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">ویرایش گروه</a></li>
                                    <li><a class="dropdown-item" href="#">خصوصیات سفارش طراحی</a></li>
                                    <li><a class="dropdown-item text-danger" href="#">حذف گروه</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                        <td class="text-end">
                            <div class="dropdown"><a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">ویرایش گروه</a></li>
                                    <li><a class="dropdown-item" href="#">خصوصیات سفارش طراحی</a></li>
                                    <li><a class="dropdown-item text-danger" href="#">حذف گروه</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@@twitter</td>
                        <td class="text-end">
                            <div class="dropdown"><a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">ویرایش گروه</a></li>
                                    <li><a class="dropdown-item" href="#">خصوصیات سفارش طراحی</a></li>
                                    <li><a class="dropdown-item text-danger" href="#">حذف گروه</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>