@page
@model Chapkhone.WebApp.Areas.Identity.Pages.Account.ChangePasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>چاپخانه بخشی - تغییر کلمه عبور</title>

    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/auth-style.css">
</head>
<body class="direction-rtl">
    <!-- Start Auth -->
    <div class="auth-card">
        <div class="auth-right-panel">
            <div>
                <h3 class="panel-title">تغییر کلمه عبور</h3>
                <span class="panel-text">مشتری گرامی، لطفا کلمه عبور خود را تغییر دهید.</span>
                <div asp-validation-summary="All"></div>
            </div>
            <div>
                <span class="panel-text">برای ورود به سایت از لینک زیر استفاده کنید.</span>
                <a asp-page="./SignIn" class="button">ورود به سایت</a>
            </div>
        </div>
        <div class="auth-content">
            <form method="post">
                <input asp-for="ChangePasswordVM.Email" type="hidden" />
                <input asp-for="ChangePasswordVM.Token" type="hidden" />
                <div class="row">
                    <div class="col-12">
                        <h3 class="auth-title">تغییر کلمه عبور</h3>
                    </div>
                    <div class="col-12 auth-input-group">
                        <label asp-for="ChangePasswordVM.Password" class="custom-input-label">کلمه عبور</label>
                        <input asp-for="ChangePasswordVM.Password" type="password" class="custom-input">
                        <span class="d-block text-danger mt-2" asp-validation-for="ChangePasswordVM.Password"></span>
                    </div>
                    <div class="col-12 auth-input-group">
                        <label asp-for="ChangePasswordVM.ConfirmPassword" class="custom-input-label">تکرار کلمه عبور</label>
                        <input asp-for="ChangePasswordVM.ConfirmPassword" type="password" class="custom-input">
                        <span class="d-block text-danger mt-2" asp-validation-for="ChangePasswordVM.ConfirmPassword"></span>
                    </div>
                </div>
                <div class="d-none d-sm-flex justify-content-between w-100 auth-action-buttons">
                    <input type="submit" value="تغییر کلمه عبور" class="button">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="button light-button">بازگشت به صفحه اصلی</a>
                </div>
                <div class="d-block d-sm-none auth-action-buttons">
                    <input type="submit" value="تغییر کلمه عبور" class="button primary-button">
                    <span class="secondary-button-title">برای ورود به سایت از لینک زیر استفاده کنید.</span>
                    <a asp-page="./SignIn" class="button secondary-button">ورود به سایت</a>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="button light-button">بازگشت به صفحه اصلی</a>
                </div>
            </form>
        </div>
    </div>
    <!-- End Auth -->
    <!-- Start Scripts -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- End Scripts -->
</body>
</html>