@page
@model Chapkhone.WebApp.Areas.Identity.Pages.Account.ForgetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>چاپخانه بخشی - فراموشی کلمه عبور</title>

    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/auth-style.css">
</head>

<body class="direction-rtl">
    <!-- Start Auth -->
    <div class="auth-card">
        <div class="auth-right-panel">
            <div>
                <h3 class="panel-title">فراموشی کلمه عبور</h3>
                <span class="panel-text">لطفا شماره همراه خود را وارد کنید. در صورتی که پست الکترونیک خود را ثبت کرده باشید، ایمیل حاوی لینک بازیابی رمزعبور برای شما ارسال می گردد در غیر این صورت باید منتظر پاسخ مدیریت بمانید. </span>
            </div>
            <div>
                <span class="panel-text">برای ورود به سایت از لینک زیر استفاده کنید.</span>
                <a asp-page="./SignIn" class="button">ورود به سایت</a>
            </div>
        </div>
        <div class="auth-content">
            <form method="post">
                <div class="row">
                    <div class="col-12">
                        <h3 class="auth-title">فراموشی کلمه عبور</h3>
                    </div>
                    <div class="col-12 auth-input-group">
                        <label asp-for="ForgetPasswordVM.PhoneNumber" class="custom-input-label">شماره تلفن همراه</label>
                        <input asp-for="ForgetPasswordVM.PhoneNumber" type="text" class="custom-input">
                        <span class="d-block text-danger mt-2" asp-validation-for="ForgetPasswordVM.PhoneNumber"></span>
                    </div>
                </div>
                <div class="d-none d-sm-flex justify-content-between w-100 auth-action-buttons">
                    <input type="submit" value="ارسال ایمیل" class="button">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="button light-button">بازگشت به صفحه اصلی</a>
                </div>
                <div class="d-block d-sm-none auth-action-buttons">
                    <input type="submit" value="ارسال ایمیل" class="button primary-button">
                    <span class="secondary-button-title">برای ورود به سایت از لینک زیر استفاده کنید.</span>
                    <a asp-page="./SignIn" class="button secondary-button">ورود به سایت</a>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="button light-button">بازگشت به صفحه اصلی</a>
                </div>
            </form>
        </div>
    </div>
    <!-- End Auth -->
    <!-- Start Scripts -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- End Scripts -->
</body>

</html>
