@model UpsertSpecificationOrderTitleVM

<div class="container my-5 pt-2">
    <h5 class="fw-bold mt-4 mb-3">اضافه کردن عنوان مشخصه</h5>
    <div class="row mb-4">
        <div class="col-9 d-flex align-items-center">
            <span class="d-block text-start fw-bold">مشخصات عنوان</span>
        </div>
        <div class="col-3 text-end">
            <a asp-area="Admins" asp-controller="SpecificationOrders" asp-action="OrderTitles" asp-route-orderGroupId="@Model.SpecificationOrderGroupId" class="btn btn-outline-secondary btn-sm">بازگشت</a>
        </div>
    </div>
    <form asp-area="Admins" asp-controller="SpecificationOrders" asp-action="AddOrderTitle" asp-antiforgery="true" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="SpecificationOrderGroupId" />
        <div class="row">
            <div class="col-12 mb-2">
                <label asp-for="Title" class="d-block form-label">عنوان</label>
                <input asp-for="Title" type="text" class="form-control" />
                <span asp-validation-for="Title" class="d-block text-danger mt-1"></span>
            </div>
            <div class="col-12 mb-2">
                <label asp-for="ShortDescription" class="d-block form-label">توضیحات کوتاه</label>
                <textarea class="form-control" asp-for="ShortDescription" rows="5"></textarea>
                <span asp-validation-for="ShortDescription" class="d-block text-danger mt-1"></span>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label asp-for="DesktopSize" class="d-block form-label">سایز مشخصه در حالت دسکتاپ</label>
                <select class="form-select" asp-for="DesktopSize" aria-label="Default select example">
                    <option value="0" selected>%25</option>
                    <option value="1">%33</option>
                    <option value="2">%50</option>
                    <option value="3">%100</option>
                </select>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label asp-for="TabletSize" class="d-block form-label">سایز مشخصه در حالت تبلت</label>
                <select class="form-select" asp-for="TabletSize" aria-label="Default select example">
                    <option value="0" selected>%25</option>
                    <option value="1">%33</option>
                    <option value="2">%50</option>
                    <option value="3">%100</option>
                </select>
            </div>
            <div class="col-12 text-end">
                <input type="submit" value="ذخیره" class="btn btn-outline-success btn-sm" />
            </div>
        </div>
    </form>
</div>